@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;
    text-align:center;
}

h1 {
    color: red;
}

p {
    color: blue;
}

/* order of hierachy
ids > classes > tags */

#p2 {
    color: purple;
}

#design {
    background: green;
}

h1 {
    background: orange;
}

.portfolio{
    width: 200px;
}

