@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@font-face {
    font-family: lovebeat;
    src: url(lovebeat.otf);
} 

body {
   
    text-align:center;
    font-size: large;
    
    font-family: 'Fjalla One', sans-serif;
    text-align:center;
    font-size: large;
    /* background-image: url(images/IMG_6760.jpeg); */
    
}
body {
    color: blue;
  }
  
  h1 {
      font-size: 150;
    color: green;
    font-family: lovebeat
  }

body, html {
    height: 100%;
    margin: 0;
}
/* .slide{
    width:100vw;
    height: 100vh;

.wrapper{
    display:flex: ;
    flex-direction:row;
    width: 400vw
    transform: :rotate(90deg) translateY(-100vh);
    transform-origin: top left;
} 
.one{
    background:#efdefe
}
.two{
    background:#a3f3d3
}
.three{
    background:greenyellow
}
.four{
    background:violet
}

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: :rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
} */

.home-bg { 
    background: url(images/IMG_6760.jpeg) no-repeat center center fixed; 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-bg {
    background: url(tweetybow.png) no-repeat center center fixed; 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work-bg {
    background: url(images/scorpsparkle.gif) no-repeat center center fixed; 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* order of hierachy
ids > classes > tags */



.portfolio{
    width: 200px;
}

#sloanebunny{
    width: 50%;
    display: block;
    /* position: absolute; */
}

#burger{
    width: 20%;
    position: absolute;
    left: 45%;
    bottom: 10%;
}


#cakecam{
    width: 100%;
    height: 100%;

}

#brownbabybow{
    width:20%;
    position:absolute;
    left: 16%;
    top: 20%;
}

#horsey{
    width: 28%;
    position:absolute;
    right: 5%;
    top: 0%;
}


#imissyou{
    width: 27%;
    position:absolute;
    left: 0%;
    top: 0%;
}

/* #tweetybow{
    width: 28%;
    position:absolute;
    left: 0%;
    top: 0%;
} */

#scorpgreen{
width: 44%;
position:absolute;
left: 5%;
top: 30%;
    }
  
    
/* } */
audio {
    display:block;
    margin: auto;
}

 #outthedoor{
        width: 10%;
        position: absolute;
        right: 5%;
        top: 10%;
    }

    /* #spoiled{
        width: 30%;
        position: absolute;
        right: 5%;
        top: 10%;
    } */

    #kiss{
        width: 25%;
        position: absolute;
        right: 5%;
        top: 35%
    }

 @media screen and (max-width: 480px) {
    #horsey{
        width: 44%;
    }
    #imissyou{
        width: 55%
    }
    #brownbabybow{
        width: 50%
    }
    #burger{
        width: 48%
    }
  }

  #playlist{
    width: 20%;
    position: absolute;
    left: 5%;
    top: 55%;
      }

